/* custom font */
body {
    font-family: 'Numans', sans-serif;
    color: black;
}
/* background color*/
body {
    background-image: url(https://cutewallpaper.org/21/plain-teal-background/Plain-Color-Desktop-Wallpaper-Gradient-Background-High-Res-.jpg)
}

/*container background color*/
.container {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    border-radius: 5px;
}

/* removing bg properties*/
#portfolioContainer {
    background: none;
    margin: auto;
    box-shadow: none;
}

/* Row Modifications*/
.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

#rowContact {
    padding: 20px
}


h1 {
    padding-top:20px;
    padding-left:20px;
    color: teal;
}

p {
    padding-top: 10px;
    padding-right: 40px
}

#reachMe{
    padding-left: 20px;
}

/* Image mods*/
.portfolioImage {
    display:block;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.portfolioImage:hover {
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(0, 124, 118, 0.19), 0 6px 20px 0 rgba(0, 124, 118, 0.19);
    border-radius: 5px;
    
}

.caption{
    display: block;
    width: 100%;
    color: white;
    padding-left: auto;
    text-align: center;
    font-size: 20px;
}

.btn:hover{
    color: black;
}